@media screen and (min-width: 1080px) {
.main{ 
		border-radius: 5px 5px 5px 5px;
		width:80%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		background-color: #FFFFFF;
		padding: 0 20px 3px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1080px) {
.main{
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 3px;
    margin: 0 auto;
	}
}
